*background:  
*foreground:  
*color0:  
*color1:  
*color2:  
*color3:  
*color4:  
*color5:  
*color6:  
*color7:  
*color8:  
*color9:  
*color10: 
*color11: 
*color12: 
*color13: 
*color14: 

#ea006a
#dd00ea
#ff1c2f
#ff3d95
#f43dff
#00a7ea
#ff808a
#ea9500
#3dc8ff
#eac100
#ffb93d
#00ea51
#3dff80
#ffdd3d
#1cffec
#80fff4
